dist: xenial

addons:
  apt:
    packages:
      - docker-ce

services:
  - docker

script:
  - docker build --rm -f docker/cdt-infra-base/ubuntu-16.04/Dockerfile -t cdt-infra-base:ubuntu-16.04 docker/
  - docker build --rm -f docker/cdt-infra-eclipse-full/ubuntu-16.04/Dockerfile -t cdt-infra-eclipse-full:ubuntu-16.04 docker/
  - docker build --rm -f docker/cdt-infra-platform-sdk/sdk4.9-ubuntu-16.04/Dockerfile -t cdt-infra-platform-sdk:sdk4.9-ubuntu-16.04 docker/
